.carousel-inner {
    padding-top: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #008b8b8f !important;
}

.caro-indicator {
    background-color: #008B8B !important;
}

.banners {
    height: 440px;
    padding: 15px 0px 35px 0px;
}

.buyNow,
.explore {
    border: none;
    background-color: #008B8B;
    color: #ffffff;
    padding: 10px 30px;

}

.buyNow:hover,
.explore:hover {
    border: 1px solid #008B8B;
    background-color: #ffffff;
    color: #008B8B;
    position: relative;
}