.chart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.line-chart {
    width: 500px;
    height: 500px;
}

@media screen and (max-width:600px) {
    .chart {
        grid-template-columns: 1fr;
    }

    .line-chart {
        width: 300px;
    }
}