.watch-reviews-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.watch-reviews-container .productIMG {
    width: 340px;
    height: 350px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}

.watch-name {
    color: #008B8B;
}

.user-info {
    padding: 10px 12px;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 8px;
}

.comment-icon {
    color: cadetblue;
}

.user-name {
    font-weight: bold;
    color: gray;
}

.user-info p {
    text-align: justify;
}

.user-comments {
    padding: 10px;
}

.rating {
    padding: 10px 12px;
}